
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #bebcbc;
    color: rgb(0, 0, 0);
    padding: 1em;
    width: 100%;
    display: inline-block;
}


h1{
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    padding-bottom: 1em;
    position: relative;
    text-align: center;
}

#noteInput{
margin: 1em;
width: 50%;
padding: 1em;
border: none;
background-color:#efefef;
border-radius: 1.5em;
font-size: 1em;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    margin: 1em;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 1.5em;
    font-size: 1em;
}

button:hover{
    font-weight: bold;
}

h3{
    font-size: 1.5em;
    margin: 2rem;
}

#noteList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.note {
    width: 150px;
    height: 150px;
    background-color: #ffeb3b;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.2s;
}

.note:hover {
    transform: scale(1.05);
}